<% content_for :sidebar do -%>
  <div>
    <ul>
      <li><%= link_to 'How to use Textile', 'http://www.textism.com/tools/textile/' %></li>
    </ul>
  </div>
<% end -%>
<% tab 'Show', @page -%>
<% tab 'Edit', edit_page_path, :class => 'active' -%>
<% tab 'History', (@page.page_revisions.empty? ? nil : page_revision_path(@page, @page.page_revisions.last)) -%>
<% form_for @page do |f| -%>
<% div_for @page, :class => 'box' do %>
  <%= f.text_area :content, :size => '' %><br />
<% end -%>
  <%= f.submit %>
<% end -%>